# Dependencies
node_modules/
venv/
.env

# Next.js
.next/
out/
build/
dist/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/

# OS/IDE
.DS_Store
.vscode/
.idea/
*.swp
*.swo

# Project specific
backend/repositories/
